:root {
  --layout-bg: #1e1e1e;
  --sidebar-bg: hsla(0, 0%, 100%, 0.05);
  --link-text-hover: rgba(255, 255, 255, 0.3);
  --hover-side-bar: #c662ef !important;
  --color-text: #fff;
  --text-primary: #fff;
}