.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes avtTurnAround {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container__menu {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  list-style: none;
}

.link-page {
  color: white;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*  */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-primary);
}

.musicWeb {
  position: relative;
  background-color: var(--layout-bg);
  background-size: 1920px auto;
  /* background-image: var(--bg-img); */
}

.sidebar {
  position: fixed;
  z-index: 100;
  width: 240px;
  background-color: var(--sidebar-bg);
  padding-top: 40px;
  top: 0;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar-brand {
  height: 77px;
}

.logo-brand {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 240px;
}

.img-logo {
  width: 100%;
  height: 90px;
  object-fit: cover;
}

.img-logo-main {
  width: 110px;
  height: 100px;
  background-image: url('assets/img/logo-main.png');
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin: 0 auto;
}

.sidebar-main {
  list-style: none;
  color: white;
  padding-left: 2px;
  margin-top: 14px;
  margin-bottom: 7px;
  height: 222px;
}

.link-main {
  padding: 7px 25px;
  display: flex;
  text-decoration: none;
  color: #dadada;
}

.type-main .router-link-exact-active,
.sidebar-active {
  background-color: var(--link-text-hover);
  transition: all .2s linear;
  border-left: 3px solid #e099ff !important;
  color: #dbb;
}

.type-main a:hover {
  color: var(--hover-side-bar);
  text-decoration: none;
}

.main-icon i {
  font-size: 18px;
  margin-right: 10px;
}

.main-name span {
  font-weight: 700;
  font-size: 16px;
}

.sidebar-divide {
  position: relative;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px #f0d1d1;
}

.sidebar-more {
  position: relative;
  margin-top: 10px;
  height: 155px;
  overflow: hidden scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(199, 199, 199, 0.7);
  border-radius: 10px;
  border: none;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(199, 199, 199, 1);
}

.sidebar-more--srcoll {
  margin-top: 5px;
  color: var(--text-primary);
}

.more-name {
  list-style: none;
  padding-left: 2px;
}

.more-title~.more-title {
  margin-top: 10px;
}

.more-title {
  padding: 7px 25px;
  color: #dadada;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.more-title i {
  margin-right: 10px;
}

.more-title:hover {
  color: rgb(240, 209, 209);
  text-decoration: none;
  cursor: pointer;
}

.vip-banner {
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}

.describe-vip {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.buy-vip {
  margin-top: 10px;
  text-decoration: none;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  background-color: #ffdb00;
  margin: 1px;
  padding: 6px 35px;
  border-radius: 999px;
}

.buy-vip:hover {
  text-decoration: none;
  color: black;
  background-color: #d3b80c;
}

.libarySongList {
  width: 100% !important;
}

.sidebar-libary {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 8px;
}

.sidebar-libary .link-libary {
  text-decoration: none;
}

.sidebar-libary .link-libary i {
  display: none;

}

.sidebar-libary:hover .link-libary i {
  display: block;

  line-height: 25px;
}

.icon-labary {
  border-radius: 50%;
  height: 28px;
  width: 30px;
  background-color: transparent;
  text-align: center;
}

.icon-labary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-libary-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.sidebar-libary-personal {
  list-style: none;
  margin-left: 2px;
  padding: 8px 20px;
}

.libary-personal-item~.libary-personal-item {
  margin-top: 15px;
}

.icon-p-item {
  margin-right: 10px;
}

.link-libary-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.link-libary-item span {
  font-weight: 500;
}


.link-libary-item:hover {
  text-decoration: none;
  color: rgba(199, 199, 199, 1);
}

.sidebar-btn {
  background-color: transparent;
  border: none;
  padding: 8px 20px;
  color: var(--text-primary);
}

.sidebar-btn:hover {
  cursor: pointer;
}

.sidebar-btn i {
  font-weight: 300;
  margin-right: 10px;
}

.sidebar-btn span {
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;

  right: 0;
  position: fixed;
  z-index: 100;
  float: right;
  height: 70px;
  width: calc(100% - 240px);
  background-color: var(--layout-bg);
  box-shadow: 0 3px 5px #95959557;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  width: 100%;
  padding: 0 30px;
}

.h-content-left {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 620px;
}

.arrow {
  display: flex;
}

.header-search {
  height: 40px;
  width: 540px;
  position: relative;
  border-radius: 999px;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.header-search-active {
  border-radius: 20px 20px 0 0 !important;
}

.input-search-header {
  background-color: transparent;
  width: 485px;
  position: absolute;
  top: 3px;
  right: 12px;
  border: none;
  line-height: 30px;
  outline: none;
  font-size: 16px;
  color: #fff;
}

::placeholder {
  /* chạy tốt trên Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  opacity: 1;
  /* Firefox */
}

.header-search i {
  font-size: 18px;
  font-weight: 200;
  position: absolute;
  top: 10px;
  left: 10px;
}

.arrow-retreat i {
  /* color: #fff; */
  font-size: 20px;
  margin-right: 20px;
  font-weight: 100;
}

.active-trans-page i {
  color: rgba(255, 255, 255, 0.5) !important;
}

.arrow-advance i {
  /* color: #fff; */
  font-size: 20px;
  margin-right: 20px;
  font-weight: 100;
}

.search-more-click {
  position: absolute;
  top: 33px;
  padding: 10px;
  /* background-color: var(--primary-bg); */
  margin-bottom: 0px;
  width: 100%;
  max-height: 280px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: block;
}

.search-more {
  margin: 10px 0;
  overflow-y: scroll;
  max-height: 240px;
  list-style: none;
}

.search-more-item i {
  font-size: 14px;
  margin: 5px 5px 0 10px;
  position: absolute;
  top: 0;
  left: -35px;
}

.search-more-item {
  cursor: pointer;
  position: relative;
}

.slick-next {
  top: -20px !important;
  right: 18px !important;
}

.slick-prev {
  right: 52px !important;
  top: -20px !important;
  left: unset !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 26px !important;
}



.h-content-right {
  display: flex;
  align-items: center;
  color: white;
}

label {
  margin-bottom: 0px;
}

.btn-theme, .btn-theme-link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--primary-bg); */
  border-radius: 999px;
  /* color: rgba(255, 255, 255, 0.8); */
}

.btn-theme-link:hover .fa-cloud-upload-alt {
  color: rgba(255, 255, 255, 0.5);
}

a:hover {

  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

button.btn-theme {
  border: none;
  outline: none;
}

.btn-theme:hover {
  color: rgba(255, 255, 255, 0.5);
}

.icon-theme {
  margin-top: -6px;
}

.progile-avt {
  position: relative;
}

.img-profile {
  height: 40px;
  width: 40px;
  border-radius: 999px;
  position: absolute;
  top: 0;
  right: 0;
}

.theme, .upload, .setting-main {
  margin-right: 5px;
  border: none;
}

.upload-playlist {
  display: flex;
  align-items: center;
}

button.btn-theme:hover {
  cursor: pointer;
}

.overlay__theme {
  position: absolute;
  top: 0;
  bottom: -90px;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}



.close_theme_click_outside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
}

.overlay__theme--hidden {
  display: none;
}

.control__theme {
  margin: 30px auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 570px;
  z-index: 150;
  /* background-color: var(--primary-bg); */
  max-width: 900px;
  border-radius: 8px;
}



.theme__container--header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.topic--header {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.close--theme:hover {
  cursor: pointer;
}

.close--theme i {
  font-size: 32px;
  font-weight: 100;
}

.theme__select__container {
  max-height: 50vh;
  min-height: 500px;
  padding: 0 30px;
  overflow-y: scroll;
}



.theme__selecte--title {
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.theme__selecte--options {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.theme-option {
  padding: 0 7px;
}

.theme-option-picture {
  position: relative;
  overflow: hidden;
}

.theme-option-picture:hover img, .theme-option-picture:hover .theme-overlay-option {
  display: block;
  transform: scale(1.1, 1.1);
  transition: all 0.2s linear;
}

.theme-overlay-option {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.theme-accept:hover {
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.theme-accept {
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  width: 105px;
  padding: 2px 20px;
  color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid var(--primary-bg);
  background-color: var(--primary-bg); */
  border-radius: 999px;
  font-size: 12px;
}

.theme-demo {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  width: 105px;
  padding: 2px 20px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 999px;
  cursor: pointer;
  font-size: 12px;
}

.theme-demo:hover {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  border: 1px solid white;
}



.theme-option-picture img {
  height: 85px;
  width: 125px;
  border-radius: 5px;
  overflow: hidden;
}

.theme-option-picture.active {
  border: 1px solid white;
}

.theme-name {
  margin-bottom: 10px;
  font-weight: 500;
}

.mt-20 {
  margin-top: 20px;
}

.footer {
  position: fixed;
  height: 100px;
  bottom: -10px;
  width: 100%;
  background-color: var(--layout-bg);
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  z-index: 90;
  overflow: hidden;
}

.footer:hover {
  cursor: pointer;
}

.play__music {
  min-width: 768px;
  padding: 0 20px;
  /* border-top: 1px solid var(--border-player); */
  position: relative;
}

.player-left {
  position: absolute;
  display: flex;
}

.player-controll-left {
  height: 92px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.player-controll-left--link {
  height: 92px;
  display: flex;
  align-items: center;
}

.avt-song {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  border-radius: 50%;
  background-position: center;
  background-size: 64px 64px;
}

.name-singer-song {
  text-transform: capitalize;
  max-width: 183px;
  min-width: 170px;
}

.name-song {
  font-size: 16px;
  font-weight: 700;
}

.name-singer {
  font-size: 12px;
}

.name-singer span {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.like-list {
  margin-left: 15px;
}

.icon-heart {
  border-radius: 50%;
  height: 28px;
  width: 30px;
  background-color: transparent;
  text-align: center;
}

#tooltip-top>.tooltip-inner {
  background-color: rgb(41, 45, 62);
}

.icon-heart:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.link-heart-list:hover {
  text-decoration: none;
}

.link-heart-list i {
  color: #d60808;
  line-height: 28px;
  display: block;
  text-decoration: none;
}

.player-controll-bar {
  width: 450px;
  position: absolute;
  left: 72%;
  top: -21px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0 0px 0;
}

.control .btn {
  height: 51px;
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  width: 51px;
  margin: 6px 3px 6px 3px;
  color: #fff;
}

.control .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.control .btn:hover .btn-prev-song, .control .btn:hover .btn-next-song {
  transition: all 0.2s linear;
}

.control .btn i {
  font-size: 18px;
  transition: all 0.2s linear;
}

.control .btn.active {
  color: #ff4073;
}

.active-sidebar {
  background-color: rgba(255, 255, 255, 0.1);
}

.control .btn-toggle-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.music-progress {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.music-progress:hover #circle-progress {
  display: block;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.7);
}

.music-progress:hover #progress-bs4 {
  height: 7px;
}

.music-progress:hover #circle-progress_volume {
  top: -2px;
}

.item-progress {
  width: 100%;
  margin: 0 12px 0 4px;
}

.item {
  width: 184px;
  height: 290px;
}

figure .listened {
  /* width: 184px; */
  height: 200px;
  object-fit: cover;
}

.time-left-song {
  font-size: 14px;
}

.time-right-song {
  font-size: 14px;
}

.progress-input {
  z-index: 5;
  max-width: 378px;
  width: 100%;
  -webkit-appearance: none;
  height: 24px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  opacity: 0;
  top: 74px;
  left: 37px;
}

#circle-progress {
  top: -2px;
  right: -8px;
  position: absolute;
  font-size: 12px;
  color: white;
  margin-left: -1px;
  z-index: 0;
  border-radius: 50%;
  display: none;
}

#progress-bs4 {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  height: 4px;
  overflow: unset;
  width: 100%;
}

.icon-pause {
  display: none;
  font-size: 15px;
}

.btn-toggle-play .icon-play {
  font-size: 15px;
  margin-left: 2px;
}

.playing .icon-pause {
  display: block;
}

.playing .icon-play {
  display: none;
}

.player-controll-right {
  justify-content: space-around;
  color: white;
  display: flex;
  position: absolute;
  right: 42px;
  top: 32px;
  width: 200px;
}

.volume-right {
  display: flex;
  align-items: center;
}

.volume-progress {
  width: 100px;
}

.progress-bar_volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: width 0.6s ease;
  background-color: white;
}

.progress-input_volume {
  z-index: 5;
  max-width: 92px;
  width: 100%;
  -webkit-appearance: none;
  height: 24px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  opacity: 0;
  top: 8px;
  left: 68px;
}

#progress-bs4_volume {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  height: 4px;
  overflow: unset;
  width: 100%;
  border-radius: 999px;
}

.music-progress:hover #progress-bs4_volume, .music-progress:hover .progress-bar_volume {
  height: 7px;
}

.music-progress:hover #circle-progress_volume {
  top: -2px;
}

.mv-right {
  padding: 6px;
  color: gray;
}

.lyric-right {
  padding: 6px;
  color: gray;
}

.volume-right {
  padding: 6px;
}

.volume-icon {
  margin-right: 7px;
}

.fa-volume-mute, .fa-volume-up {
  height: 12px;
  width: 12px;
}

#circle-progress_volume {
  top: -3px;
  right: -8px;
  position: absolute;
  font-size: 12px;
  color: white;
  margin-left: -1px;
  z-index: 0;
  border-radius: 50%;
  display: block;
}

.devide-nav {
  border-left: 2px solid rgba(199, 199, 199, 0.7);
  height: 36px;
  width: 20px;
  padding: 6px;
}

.playlist-right-song {
  padding: 6px;
  color: gray;
}

.mv-right:hover, .lyric-right:hover, .playlist-right-song:hover {
  cursor: not-allowed;
}

.music_user--home {
  margin-left: 240px;
  min-height: 100%;
  height: calc(100vh - 90px);
  width: calc(100% - 240px);
}

.home-container {
  height: 497px;
  margin-top: 62px;
}

.home-intro-container {
  height: 228px;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.gallery-container {
  height: 100%;
}

.gallery-item {
  position: absolute;
  height: auto;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, z-index 0s linear 0.25s;
  width: 33.33%;
  z-index: 0;
  opacity: 0;
  border-radius: 8px;
  padding: 15px;
}

.music-card {
  max-width: 100%;
  position: relative;
}

.music-card-image {
  border-radius: 8px;
  overflow: hidden;
}

.music-card-image figure {
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 0px;
}

.music-card-image figure img {
  height: auto;
  width: 100%;
}

.gallery-previous {
  width: 48px;
  height: 48px;
  position: absolute;
  font-size: 24px;
  color: white;
  left: 18px;
  top: 95px;
  text-align: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: none;
}

.gallery-previous i {
  margin-left: -3px;
  line-height: 46px;
  font-weight: 100;
}

.gallery-next {
  width: 48px;
  height: 48px;
  position: absolute;
  font-size: 24px;
  color: white;
  right: 18px;
  top: 95px;
  text-align: center;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: none;
}

.gallery-next i {
  margin-right: -3px;
  line-height: 46px;
  font-weight: 100;
}

.gallery-previous:hover i, .gallery-next:hover i {
  color: rgba(199, 199, 199, 1);
}

.gallery-container:hover .gallery-next, .gallery-container:hover .gallery-previous {
  display: block;
}

.gallery-item-first {
  transform: translateX(80%);
}

.gallery-item-previous {
  transform: translateX(0%);
  opacity: 1;
  z-index: 1;
}

.gallery-item-selected {
  transform: translateX(100%);
  opacity: 1;
  z-index: 10;
}

.gallery-item-next {
  transform: translateX(200%);
  opacity: 1;
  z-index: 11;
}

.gallery-item-last {
  transform: translateX(120%);
}



.playlist-section-container {
  margin-top: 30px;
}

.section--margin-30 {
  margin-top: 60px;
}

.playlist-section-intro-container {
  position: relative;
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
  margin-top: 30px;
}

.playlist-section_title {
  display: flex;
}

.playlist--flex {
  display: flex;
}



.title-section {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
}

.icon-section i {
  font-weight: 100;
  font-size: 16px;
  line-height: 27px;
  margin-left: 10px;
}

.playlist-section_carousel {
  margin-top: 20px;
}

.slick-slide {
  padding: 0 10px;
}

.image_music {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s linear;
  margin-bottom: 10px;
}

.image_music img {
  transition: all 0.3s linear;
}

.image_music img {
  border-radius: 6px;
}

.image_music:hover img {
  transform: scale(1.2, 1.2);
  transition: all 0.3s linear;
}

.image_music:hover .overlay_image_music {

  opacity: 1;
  transition: all 0.3s linear;
}

.overlay_image_music {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  justify-content: space-around;
  display: flex;
  opacity: 0;
  transition: all 0.2s linear;
}

.overlay__heart {
  text-align: center;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.overlay__heart i, .overlay__more i {
  margin-top: 9px;
  font-size: 18px;
}

.overlay__play {
  height: 60px;
  font-size: 30px;
  border: 1px solid white;
  font-weight: 100;
  border-radius: 50%;
  width: 60px;
  text-align: center;
  line-height: 56px;
}

.overlay__play i {
  margin-left: 5px;
}

.overlay__more {
  text-align: center;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.title_music {
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.title_music div {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  white-space: nowrap;

}

.name_singer_music span {
  margin-top: 7px;
}

.name_carousel_music {
  font-size: 14px;
}

.name_carousel_music:hover {
  /* color: var(--link-text-hover); */
  text-decoration: underline;
}


.music_user {
  margin-left: 240px;
  min-height: 100%;
  height: calc(100vh - 90px);
  width: calc(100% - 240px);
}

.user_profile_header {
  width: 100%;
  height: 290px;
  overflow: hidden;
  position: relative;
}

.profile_container {
  position: relative;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile_cnt_avt {
  position: relative;
}

.avt_profile {
  height: 160px;
  width: auto;
  border-radius: 50%;
  padding: 8px;
}

.profile_cnt_name {
  margin-top: 2px;
}

.profile_cnt_name span {
  font-size: 32px;
  font-weight: 700;
}

.profile_cnt_actions {
  position: absolute;
  display: flex;
  right: 27px;
  bottom: 140px;
}

.buy-vip-action {
  text-decoration: none;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #ffdb00;
  margin: 0px;
  padding: 4px 22px;
  border-radius: 999px;
  font-size: 12px;
  margin-right: 5px;
}

.buy-vip-action:hover {
  text-decoration: none;
  color: black;
  background-color: #d3b80c;
}

.receive-vip {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px;
  padding: 4px 22px;
  border-radius: 999px;
  font-size: 12px;
  margin-right: 5px;
}

.receive-vip:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.log-out {
  font-size: 14px;
  position: relative;
  height: 24px;
  width: 26px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.log-out i {
  line-height: 27px;
}

.user_profile_navbar {
  margin-bottom: 30px;
}

.profile_navbar_music {
  display: flex;
  text-align: center;
}

.navbar_menu {
  list-style: none;
  display: flex;
  border-radius: 999px;
  margin: 0 auto;
  padding-left: 0;
}

.pro_nav_menu_item {
  font-size: 12px;
  line-height: 1;
  padding: 3px;
  display: block;
}

.nav_item {
  margin-top: 3px;
}

.nav_item-active {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 999px;
  margin: 3px;
  display: block;
}

.pro_nav_menu_item.active .nav_item-link {
  color: white;
}

.nav_item-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav_item-link {
  text-transform: uppercase;
  padding: 6px 25px;
  display: block;
}

.song-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}





.list-title span {
  font-size: 22px;
  font-weight: 700;
}

.list-title i {
  font-weight: 100;
  margin-left: 8px;
  font-size: 18px;
}

.list-header-options {
  display: flex;
  align-items: center;
}

.header-option-upload {
  margin-right: 6px;
}

.option-upload:hover {
  cursor: pointer;
}

.btn-option-link {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--layout-bg); */
  border-radius: 999px;
  color: rgba(255, 255, 255, 0.8);
}

.btn-option-link:hover {
  color: white;
  text-decoration: none;
}

.option-play-all:hover {
  cursor: pointer;
}

.play-all {
  font-size: 14px;
  padding: 3px 20px;
  background-color: var(--purple-primary);
  border-radius: 999px;
}

.play-all i {
  margin-right: 12px;
}

.song-animate-section {
  display: flex;
  margin-bottom: 25px;
}

.song-img-animate {
  list-style: none;
  padding-left: 0;
  position: relative;
  padding-top: 10px;
  width: 270px;
  height: 230px;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
}

.song-img-item {
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  width: 230px;
  height: 230px;
  transition: all 0.9s;
}

.btn-option-link, .navbar_menu, .song.active {
  background-color: hsla(0, 0%, 100%, 0.1);
  color: #fff;
}

figure {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}

.third {
  z-index: 1;
  height: 160px;
  width: 160px;
  left: 0;
  bottom: 42px;
  opacity: 0.3;
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.5) 1%, rgba(0, 0, 0, 0.6) 14%);
}

.second {
  z-index: 2;
  height: 190px;
  width: 190px;
  left: 20px;
  bottom: 28px;
  opacity: 0.7;
}

.first {
  z-index: 3;
  height: 230px;
  width: 230px;
  left: 40px;
  bottom: 8px;
  opacity: 1;
}

.song-playlist {
  height: 244px;
  flex: 1;
  padding-left: 20px;
}

.song-playlist:hover {
  cursor: pointer;
}

.artist-container {
  background-color: rgba(255, 255, 255, 0.4);
}

.artist-icon-text {
  padding: 48px;
}

.icon-artist {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-image: url('https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/artist-icon.0b64fd14.svg');
}

.icon-album {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-image: url('https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/dics-music-icon.3925fc01.svg');
}

.icon-mv {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-image: url('https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/video-icon.09654360.svg');
}

.icon-upload {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-image: url('https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/music-icon.cfa4aa91.svg');
}

.content-artist {
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
}

.list-border {
  padding-left: 20px;
}

.playlist {
  max-height: 244px;
  overflow: auto;
  width: 100%;
  position: absolute;
  right: 0;
}

.body {
  display: flex;
  align-items: center;
}

.name {
  width: 250px;
}

.name .title {
  font-size: 17px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.timeSong {
  color: rgba(255, 255, 255, 0.5);
}

.song {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}



.song.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-random .active {
  color: rgb(250, 39, 169);
}



.song:active {
  opacity: 0.8;
}

.song.active .option, .song.active .author, .song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
  justify-content: space-between;
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.input1 {
  display: none;
}

.progress-bar1 {
  width: 0%;
  transition: width 0s ease;
  text-align: right;
  position: relative;
  border-radius: .25rem;
}


.progress-bar_volume {
  width: 0%;
  height: 4px;
  transition: width 0s ease;
  text-align: right;
  position: relative;
  border-radius: .25rem;
  /* background-color: var(--link-text-hover); */
}

.homepage {
  margin: 500px;
  color: black;
}

.playlist-home {
  display: none;
}

.home_user-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.home_user-2 {
  position: absolute;
  inset: 0;
  overflow: hidden scroll;
  margin-right: -6px;
  margin-bottom: 0px;
  right: 0;
  padding: 0 54px
}

.song-playlist--css-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.song-playlist--css-2 {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  margin-right: -6px;
  margin-bottom: 0px;
}

/* form login */

.login-wrapper {
  background-image: linear-gradient(to right, #eacda3, #d6ae7b);
}

.login-container {
  height: 100vh;
  margin: auto 0 auto auto;
  padding: auto;
  width: 100%;
}

.login-container {
  padding: 100px 0 0 0;
}

.form_login {
  background: #fbfbc8;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  height: 475px;
  margin: 50px auto 0;
  max-width: 470px;
  padding: 20px 50px;
  padding: 20px 50px;
}

.title {
  background-color: transparent;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin: 10px 0 0px 0;

}

.input-user-pass {
  margin-top: 20px;
}

.carousel__icon {
  color: white;
}

.carousel__next,
.carousel__prev {
  top: 36% !important;
  background: #e94b8efc !important;
  border-radius: 50% !important;
}

.user-name {
  font-weight: 600;
}

.input_user {
  border: none;
  background-color: unset;
  border-bottom: solid;
  width: 100%;
  height: 35px;
}

.input_user:focus {
  outline: none;
}

.password {
  margin-top: 10px;
  font-weight: 600;
  position: relative;
}

.input_pass_container {
  border-bottom: 2px solid;
  width: 100%;
}

.input_pass {
  border: none;
  background-color: unset;
  width: 92%;
  height: 35px;
}

.input_pass:focus {
  outline: none;
}

.icon-eye {
  right: 0;
  position: absolute;
  top: 33px;
  font-size: 16px;
  cursor: pointer;
}

.forgot_pass {
  transform: translateX(144px);
  cursor: pointer;
  font-weight: 400;
}

.btn-login {
  margin-top: 25px;
  cursor: pointer;
}

.btn-login-container {
  background-image: linear-gradient(to right, #eacda3, #d6ae7b);
  width: 100%;
  height: 40px;
  border-radius: 999px;
  position: relative;
}

.btn-login-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-weight: 600;
}

.btn-login-tex button {
  border: none;
  background-color: unset;
  width: 100%;
  height: 100%;

}

/* maintance */
.maintance-container {
  padding: 35px;
  margin: 133px auto 0;
  width: 400px;
  height: 155px;
  background-color: rgba(199, 199, 199, 0.7);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .2);
}

.maintance-content {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

/* playlist page */
.container-playlist {
  padding-top: 20px;
  margin-bottom: 30px;

}

.media-container {
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playlist-header {
  display: block;
  width: 300px;
  float: left;
  padding: 0 0 30px;
  /* border: #dfdfdf solid; */
  min-height: 500px;
}

.media-left-img {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.img-media img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 14px;
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.media-content-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
  color: white;
  text-transform: none;
}

.media-content-update {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 12px;
  line-height: 1.75;
}

.media-content-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  width: 100%;
}

.media-content-artist-name {
  cursor: pointer;
  color: hsla(0, 0%, 100%, 0.5);
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 12px;

}

.media-content-artist-name:hover {
  color: #d60808;
}

.media-content-continue-play {
  width: 130px;
  background-color: #5a4be7;
  margin-top: 20px;
  border-radius: 999px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.edit-playlist {
  margin-left: 10px;
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.edit-playlist:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.title-media-continue-play {
  font-size: 18px;
  color: wheat;
  font-weight: 600;
}

.playlist-right {
  margin-left: 330px;
  height: 500px;

}

.playlist-title {
  font-size: 14px;
  padding-bottom: 10px;
  color: #fff;
}

.playlist-title span {
  margin-right: 5px;
  color: hsla(0, 0%, 100%, 0.5);
}

.list-music {
  margin-bottom: 10px;
}

.list-music-header {
  height: 46px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.5);

}

.select-header {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
}

.list-music-header--songs {
  display: flex;
  font-size: 12px;
}

.icon-list-songs {
  margin-right: 10px;
}

.list-music-header--albums {
  font-size: 12px;

}

.list-music-header--duration {
  font-size: 12px;

}

.list-music-content {
  display: flex;
  position: relative;
  padding: 10px;
}

.list-music-content--songs {
  display: flex;
  align-items: center;
  text-align: center;
  width: 47%;
}

.list-music-content--songs--image {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px 10px;
}

.list-music-content--songs--image figure {
  width: 40px;
  height: 40px;
}

.list-music-content--songs--image figure img {
  width: 100%;
  height: auto;
}

.list-music-content--songs--info {
  display: flex;
  flex-direction: column;
  width: 70%;

}

.list-songs--info--name {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 80%;


}

.list-songs--info--name div {
  align-items: center;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;

  max-width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.list-songs--info--artist {
  display: flex;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.8);
}

.list-songs--info--artist span {
  display: flex;
}

.list-songs--info--name-artist {
  display: block;
  font-size: 12px;
  margin-top: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.list-songs--info--name-artist:hover {
  text-decoration: underline;
  cursor: pointer;
}

.commas-songs {
  margin: 0 3px;

}

.comma-playlist {
  margin-right: 5px;
  color: hsla(0, 0%, 100%, 0.5);
}

.media-content-artist span:last-child .comma-playlist {
  display: none;
}

.list-songs--info--artist span:last-child .comma-playlist {
  display: none;
}



.info-name-singer {
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.name-singer-content:hover {
  text-decoration: underline;
}

.name-singer-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
  margin-right: 4px;
  word-break: break-word;
}

.name_singer_music {
  font-size: 12px;
  margin-top: 3px;
  color: hsla(0, 0%, 100%, 0.8);
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: flex;

}


.right-list-songs {
  font-size: 14px;
}

.list-music-content--albums {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
  width: 0;
}


.album-info {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.list-music-content--duration {
  /* margin-left: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center; */
  position: absolute;
  right: 15px;
  z-index: 10;
  border: 1px;
}

.level-item-duration {
  font-size: 15px;
  width: 46px;
  color: hsla(0, 0%, 100%, 0.5);

  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  justify-content: center;

}


/* Login */




/*//////////////////////////////////////////////////////////////////
[ FONT ]*/



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/*---------------------------------------------*/
.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.txt2:focus {
  outline: none !important;
}

.txt2:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}


/*---------------------------------------------*/
.input100 {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, .input100:focus {
  border-color: transparent !important;
}

.input100:focus::-webkit-input-placeholder {
  color: transparent;
}

.input100:focus:-moz-placeholder {
  color: transparent;
}

.input100:focus::-moz-placeholder {
  color: transparent;
}

.input100:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.input100::-webkit-input-placeholder {
  color: #999999;
}

.input100:-moz-placeholder {
  color: #999999;
}

.input100::-moz-placeholder {
  color: #999999;
}

.input100:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 95px 120px 175px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.8);
}

.input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 50px 5px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 50px 5px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(9, 8, 33, .4);
  z-index: 100;
}

.outer,
.middle,
.inner {
  border: 5px solid transparent;
  border-top-color: #3cefff;
  border-right-color: #3cefff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* end login */